body{
	margin:0px;
}

/*
 * MENU BUTTON
 */
@import url("https://fonts.googleapis.com/css?family=K2D");
.menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
	align-items: center;
	color:white;
	
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: currentColor;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
  top: -8px;
}
.menu__toggler span::after {
  top: 8px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: #c24d1b;
  top: 0px;
}
.menu__toggler.active > span::before {
	transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
	transform: rotate(225deg);
}

/*
 * SLIDING MENU PANEL
 */

.menu {
  position: absolute;
  left: -30%;
  z-index: 998;
  background: rgba(250, 250, 250, 0.7);
  width: 20%;
  height: 100%;
  padding: 50px;
  display: flex;
	flex-direction: column;
	justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}
@media only screen and (max-width: 900px) {
  .menu {
    width: 260px;
    left: -260px;
    padding: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .menu {
    width: 270px;
    left: -270px;
    padding: 50px;
  }
}
@media only screen and (max-width: 650px) {
  .menu {
    width: 100%;
    left: -100%;
  }

}

a {
	-moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

 a,li{ 
	/*リセット*/
  color: black;
  text-decoration: none;
  list-style: none;
}

ul{
  font-size: 3em;
  font-weight: bolder;
  color: black;
}

a:hover{
	color:#c24d1b;
}
.link { /*要素の整列*/
 margin-left: 1rem;
 text-align: center;
}

.hover-Uline {
  position: relative;/*疑似要素の親を固定*/
  cursor: pointer;/*カーソルをポインターへ*/
  text-decoration: none; /*ホバーなしは非表示*/
}

.hover-Uline:before {
  content: ""; /*疑似要素の中身は空（記述は必須）*/
  position: absolute; /*子要素として疑似要素を固定*/
  left: 0; /*長さはテキストの両端まで*/
  right: 0; /*長さはテキストの両端まで*/
  bottom: -5px;  /*線の上下位置*/
  width: 100%; /*線の長さ*/
  height: 1px; /*線の太さ*/
  background-color:#c24d1b; /*線の色*/
  transform: scale(0, 1); /*横方向に0状態から全体まで線を入れる*/
  transform-origin: center; /*中央を起点にアニメーション*/
  transition: transform .2s; /*アニメーションの時間*/
}

.hover-Uline:hover:before {
  transform: scale(1); /*ホバー時に等倍へ拡大*/
}

.menu.active {
  left: 0;
}
.menu li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/*
 * BASIC STYLES
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: white;
	font-family: 'Encode Sans Condensed',
  display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
  color: currentColor;
  mix-blend-mode: overlay;
}

.twitter {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
	z-index:999;
}

.test{
	  position: relative;
}
#layer {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
	background-color: #c24c1a
	
}

h1 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3em;
  font-weight: bolder;
  z-index: 1;

}

h2{
	position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2em;
  z-index: 1;
	font-weight:lighter;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
}
.layer1 img{
	position: absolute;
	    top: 50%;
    left: 50%;
     width:auto;
	height:120%;
	    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.layer2 img{
	position: absolute;
    top: 50%;
    left: 50%;
	width:auto;
	height:120%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width:600px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
.layer1 img{
	position: absolute;
	    top: 40%;
    left: 50%;
	width:auto;
	height:110%;
	    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.layer2 img{
	position: absolute;
    top: 40%;
	width:auto;
	height:110%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
}

@-moz-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }


#loading {
  width: 100vw;
  height: 100vh;
  background-color: #717171;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }


#loading-main:after, #loading-main:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 110%;
}

#loading-main {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 105; }
  #loading-main:after {
    -moz-animation: loading 0.75s linear infinite;
    -webkit-animation: loading 0.75s linear infinite;
    animation: loading 0.75s linear infinite;
    border: 1px solid transparent;
    border-top-color: #666; }
  #loading-main:before {
    border: 1px solid rgba(200, 200, 200, 0.5); }

body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}

